:root {
  --bg-blue: #03485C;
  --gray-text: #414141;
  --gray-subtext: rgba(65, 65, 65, 0.8);
  --sidebar-bg: #E8E8E8;
}
* {
  box-sizing: border-box;
}
html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}
body {
  margin: 0;
  width: 100%;
  font-family: zenon,sans-serif;
  font-weight: 400;
  font-style: normal;
}
body::-webkit-scrollbar,
.content::-webkit-scrollbar {
  display: none;
}
.content {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: none;
  padding-top: 40px;
  margin-top: -49px; /* revisit this . . ? */
}
mobilemenu {
  white-space: nowrap;
  z-index: 2;
  display: none;
  position: sticky;
  display: contents;
}
mobilemenu #menutab {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  margin-left: 10px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.18);
  width:58px;
  height: 49px;
  border-bottom-right-radius:6px;
  border-bottom-left-radius:6px;
  display: flex;
  justify-content: center;
  align-items:center;
  z-index: 3;
  cursor: pointer;
}
/* menu spin */
.burg {
  display: inline-block;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  margin-top: 5px;
  overflow: visible; }
  .burg.is-active .burg-inner,
  .burg.is-active .burg-inner::before,
  .burg.is-active .burg-inner::after {
    background-color: var(--bg-blue); }

.burg-box {
  width: 36px;
  height: 20px;
  display: inline-block;
  position: relative;}

.burg-inner {
  display: block;
  top: 50%;
  margin-top: -2px;}
  .burg-inner, .burg-inner::before, .burg-inner::after {
    width: 36px;
    height: 4px;
    background-color: var(--bg-blue);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .burg-inner::before, .burg-inner::after {
    content: "";
    display: block; }
  .burg-inner::before {
    top: -10px; }
  .burg-inner::after {
    bottom: -10px; }

.burg--spin .burg-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .burg--spin .burg-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .burg--spin .burg-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.burg--spin.is-active .burg-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .burg--spin.is-active .burg-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .burg--spin.is-active .burg-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
/* end menu spin */
mobilemenu #menutab > svg {
  width: 42px;
}
#sidemenu {
  height: auto;
  width: 300px;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: -300px;
  background-color: var(--sidebar-bg);
  overflow-x: hidden;
  transition: 0.4s;
  box-shadow: none;
  color: var(--gray-text);
  padding-top: 30px;
  opacity: 0;
}
#sidemenu.slide-in-left {
  left: 0px;
  box-shadow: 12px 1px 6px rgba(0,0,0,0.18);
  opacity: 1;
}
.menu {
  padding: 10px 0px 10px 10px;
  margin-top: 25px;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.menu > h1 {
  color: var(--bg-blue);
  margin: 0;
  font-size: 24px;
}
.menu > .hr {
  border: none;
  height: 2px;
  width: 187px;
  color: var(--bg-blue);
  background-color: var(--bg-blue);
  margin: 5px 0px 10px 0px;
}
.menu > ol {
  /*padding-inline-start: 30px;*/
}
#search-results {
  height: 100vh;
  width: 300px;
  position: absolute;
  z-index: 0;
  top: 0px;
  right: -300px;
  background-color: var(--sidebar-bg);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: none;
  color: var(--gray-text);
}
#search-results a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
#search-results a:hover {
  color: #f1f1f1;
}
#search-results.slide-in-right {
  right: 0px;
  box-shadow: -12px -1px 6px rgba(0,0,0,0.18);
}
#search-results .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
nav {
  background-color: var(--bg-blue);
  width: 100%;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  z-index: 3;
  height: auto;
}
.navwrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
}
.nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #003A4B;
}
.navwrap > a.logo {
  color: #fff;
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 27px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  width: auto;
  overflow: hidden;
  height: 38px;
  padding: 8px 0px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  margin-left: 10px;
}
.navbar > a {
  height: 37px;
  padding: 6px 10px 0 10px;
  color: #fff;
  text-decoration: none;
  border-top: 3px solid transparent;
  display:inline-block;
  text-align:center;
  font-size: 15px;
  font-family: acumin-pro, sans-serif;
  font-style: normal;
}
.navbar > a::before {
  display: block;
  content: attr(title);
  font-weight: 700;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.navbar > a:hover,
.navbar > a.active {
  border-top: 3px solid #fff;
  font-weight: 700;
  background-color: #fff;
  color: #003A4B;
  padding: 6px 10px 0 10px;
}
#vertical {
  background-image: -webkit-linear-gradient(top, transparent, #fff, transparent);
  background-image: -moz-linear-gradient(top, transparent, #fff, transparent);
  background-image: -ms-linear-gradient(top, transparent, #fff, transparent);
  background-image: -o-linear-gradient(top, transparent, #fff, transparent);
  background-image: linear-gradient(top, transparent, #fff, transparent);
  margin: 0px 10px;
  width: 1px;
  height: 30px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  cursor: pointer;
  width: 100%;
  height: 37px;
}
.search > img {
  margin-right: 10px;
  width: 12px;
  height: 12px;
}
.search > input[type="text"] {
  color: #fff;
  opacity: 0.5;
  background-color: transparent;
  border: none;
  font-size: 15px;
  width: 100%;
  padding-right: 10px;
}
.search ::placeholder {
  color: #fff;
}
.search ::-webkit-input-placeholder {
  color: #fff;
}
.search ::-moz-placeholder {
  color: #fff;
}
.search :-moz-placeholder {
  color: #fff;
}
.search > input[type="text"]:focus {
  outline: none;
  opacity: 1;
}
.search input:focus::-webkit-input-placeholder,
.search input:focus::placeholder {
    color: transparent;
}
.search > input:hover {
  opacity: 1;
}
.client-content {
  padding: 25px;
  max-width: 1000px;
}
section {
  padding: 10px;
}
section > h1 {
  color: var(--gray-text);
  font-size: 22px;
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}
section > p {
  color: var(--gray-text);
  font-size: 16px;
  font-family: zenon,sans-serif;
  font-weight: 500;
  line-height: 25px;
}
blockquote {
  margin: 0 0 0 10px;
  padding: 0;
  quotes: "\201C""\201D";
}
blockquote:before {
  color: var(--bg-blue);
  content: open-quote;
  font-family: zenon,sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 47px;
  line-height: 0.1em;
  margin-right: 10px;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  font-family: zenon,sans-serif;
  font-weight: 500;
  font-style: italic;
  color: var(--gray-text);
  font-size: 16.3px;
  line-height: 25px;
}
footer {
  width: 100%;
  min-height: 75px;
  background-color: var(--bg-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: acumin-pro, sans-serif;
  font-style: normal;
}

@media screen and (min-width: 768px) {
  nav {
    height: 75px;
  }
  .navwrap {
    flex-direction: row;
  }
  .navwrap > a.logo {
    white-space: normal;
    width: 375px;
    overflow: visible;
    height: auto;
    padding: 0;
  }
  .nav {
    width: auto;
    background-color: transparent;
  }
  .navbar {
    margin-left: 0;
  }
  .navbar > a {
    height: 75px;
    padding: 22px 25px 0px 25px;
    font-size: 18px;
  }
  .navbar > a:hover,
  .navbar > a.active {
    background-color: transparent;
    color: #fff;
    padding: 6px 10px 0 10px;
    padding: 22px 25px 0px 25px;
  }
  #vertical {
    height : 55px;
    width : 1.5px;
  }
  .search {
    height: auto;
  }
  .search > img {
    width: 27px;
    height: 27px;
  }
  .search > input[type="text"] {
    font-size: 16px;
  }
  .client-content {
    padding: 25px 59px;
  }
  section > h1 {
    font-size: 26px;
  }
  section > p {
    font-size: 18px;
    line-height: 29px;
  }
  blockquote p {
    font-size: 18.3px;
    line-height: 29px;
  }
}
@media screen and (min-width: 1024px) {
  .client-content {
    padding: 25px 146px;
  }
}
@media screen and (min-width: 1025px) {
  #sidemenu {
   left: 0px !important;
   box-shadow: 12px 1px 6px rgba(0,0,0,0.18);
   opacity: 1;
  }
  .client-content {
    margin-left: 300px;
    padding: 25px 55px;
  }
  #menutab {
    opacity: 0;
    pointer-events: none;
  }
  section > h1 {
    font-size: 24px;
  }
  section > p {
    font-size: 16px;
    line-height: 25px;
  }
  blockquote p {
    font-size: 16.3px;
    line-height: 25px;
  }
}

@media screen and (min-width: 1600px) {
  .client-content {
    margin: 0 auto;
  }
}