body {
  margin: 0;
}
a { text-decoration: none; }
ul,li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}
ol, ul {
  list-style: none
}

/**
 * Hidden fallback
 */
[hidden] {
  display: none;
  visibility: hidden;
}

.sidenav {
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.sidenav > h1 {
  color: var(--bg-blue);
  margin: 10px 0 10px 14px;
  font-size: 24px;
  font-weight: 800;
  line-height: 16px;
}
.hr {
  border: none;
  height: 2px;
  width: 100%;
  background-color: var(--bg-blue);
  margin: 5px 0px 10px 14px;
}
.nav__list {
  padding-left: 10px;
  line-height: 15px;
}
/**
 * Styling top level items
 */
.sidenav a,
.sidenav label {
  display: block;
  padding: .5rem;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}
.sidenav a:focus, .sidenav a:hover,
.sidenav label:focus,
.sidenav label:hover {

}
.sidenav label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
div.sidenav li > label > div {
  width: calc(100% - 18px);
}
.sidenav label svg {
  width: 14px;
  height: 14px;
}
.nav__list > li > input[type=checkbox] + label {
  color: var(--gray);
  font-weight: 800;
}
.nav__list > li > input[type=checkbox]:hover + label,
.nav__list > li > input[type=checkbox]:focus + label {
  color: var(--gray-dark);
}
.nav__list > li > input[type=checkbox]:hover + label > svg path,
.nav__list > li > input[type=checkbox]:focus + label > svg path {
  stroke: var(--gray-dark);
  stroke-width: 2;
}

/**
 * Styling first level lists items
 */
.group-list a,
.group-list label {
  padding-left: 2rem;
  color: var(--gray-dark);
  font-weight: 600;
}
.group-list a:focus, .group-list a:hover,
.group-list label:focus,
.group-list label:hover {
  color: var(--gray-darker);
}
.group-list > li > input[type=checkbox] + label > svg path {
  stroke: var(--gray-dark);
}
.group-list > li > input[type=checkbox]:hover + label > svg path {
  stroke: var(--gray-darker);
  stroke-width: 2;
}
.group-list > li > input[type=checkbox]:checked + label > svg path,
.group-list > li > input[type=checkbox]:checked + label > svg path,
.group-list > li > input[type=checkbox]:checked:hover + label > svg path,
.group-list > li > input[type=checkbox]:checked:focus + label > svg path {
  stroke: var(--bg-blue);
  stroke-width:3;
}
/**
 * Styling second level list items
 */
.sub-group-list a,
.sub-group-list label {
  color: var(--gray-next);
  font-weight: 400;
  margin-left: 30px;
  padding-left: 20px;
}
.sub-group-list a:focus, .sub-group-list a:hover,
.sub-group-list label:focus,
.sub-group-list label:hover {
  background-color: var(--hovered);
  color: var(--gray-darker);
}

.sub-group-list a.selected {
  background-color: var(--selected);
  color: var(--bg-blue);

}
/**
 * Hide nested lists
 */
.group-list,
.sub-group-list,
.sub-sub-group-list {
  height: 100%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .5s ease-in-out;
  transition: max-height .5s ease-in-out;
}

.nav__list input[type=checkbox]:checked + label + ul {
  /* reset the height when checkbox is checked */
  max-height: 1000px;
}

/**
 * Rotating chevron icon
 */
.sidenav svg path {
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}
label > svg {
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}
.nav__list input[type=checkbox]:checked + label > svg {
  -webkit-transform: rotate(90deg) translateY(5px) translateX(5px);
          transform: rotate(90deg) translateY(5px) translateX(5px);
}
.group-list input[type=checkbox] + label > svg > path {
  stroke: var(--gray-darker);
}
.nav__list input[type=checkbox]:checked + label,
.nav__list input[type=checkbox]:checked:hover + label {
  color: var(--bg-blue);
}
.nav__list input[type=checkbox]:checked + label > svg > path,
.nav__list input[type=checkbox]:checked:hover + label > svg > path {
  stroke: var(--bg-blue);
  stroke-width: 2;
}